.optionsBg
{
	position: fixed;
	inset: 0;
	background: var(--black-50);
	pointer-events: all;
	z-index: 1;
}

.dropdown
{
	height: 50px !important;
	padding: 0 12px 0 16px;
	border-radius: 20px;
	background: var(--white-0);
	fill: var(--white-50);
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-shrink: 0;
	pointer-events: all;
	gap: 4px;

	&:disabled
	{
		background: var(--white-0) !important;
		color: var(--white-25) !important;
		fill: var(--white-25) !important;
		pointer-events: none !important;

		& .currentValueTitle { color: var(--white-25) !important; }
	}

	& .currentValueTitle
	{
		width: fit-content;
		height: fit-content;
		font-size: var(--main-font-size);
		font-weight: 500;
		color: var(--white-50);
	}

	& svg
	{
		width: 24px;
		height: 24px;
	}

	&:active, &.open
	{
		background: var(--white-10);
		color: var(--white-90);
		fill: var(--white-90);

		& .currentValueTitle { color: var(--white-95); }
	}

	&.open svg { transform: rotateZ(180deg); }
}

.options
{
	position: absolute;
	top: 60px;
	right: 0;
	width: fit-content;
	height: fit-content;
	max-height: 300px;
	padding: 4px;
	border-radius: 16px;
	background: color-mix(in srgb, var(--dark), white 5%);
	pointer-events: all;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: clip auto;
	z-index: 1;

	&::-webkit-scrollbar { display: none; }

	& > .option
	{
		width: 100%;
		height: 44px;
		padding: 0 24px;
		border-radius: 12px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		pointer-events: all;

		&.current
		{
			background: var(--white-15);
			& .optionTitle { color: var(--white-90); }
		}

		&:active
		{
			background: var(--white-10);
			& .optionTitle { color: var(--white-90); }
		}

		& .optionTitle
		{
			width: fit-content;
			height: fit-content;
			font-size: var(--main-font-size);
			font-weight: 500;
			color: var(--white-75);
			text-align: center;
			white-space: nowrap;
		}
	}
}