.container
{
	width: 52px;
	height: 120px;
	padding: 12px 0;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;

	&:nth-child(odd)
	{
		background: var(--black-20);
		border-radius: calc(var(--main-border-radius) - 8px);

		&.nightVariant { background: var(--white-5); }
	}

	& .temperatureText
	{
		font-size: var(--main-font-size);
		font-weight: 600;
		color: var(--white-90);
		text-align: center;
	}

	& .weatherIcon
	{
		width: 40px;
		height: 40px;
	}

	& .precipProbabilityText
	{
		font-size: var(--smaller-font-size);
		font-weight: 500;
		color: var(--white-50);
		text-align: center;
	}

	& .timeText
	{
		font-size: 14px;
		font-weight: 600;
		color: var(--white-65);
		text-align: center;
	}
}