.page
{
	width: 100svw;
	height: fit-content;
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	transition: none;
	z-index: 1;
	background: var(--dark);
	overscroll-behavior-y: none;
}

.mainContentContainer
{
	width: 100%;
	height: fit-content;
	padding: calc(24px + env(safe-area-inset-top) + 50px + 32px) 16px 24px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-shrink: 0;
	flex-grow: 1;

	& > *:not(span) { margin: 4px 0; }
	& > *:not(span):first-of-type { margin: 0 0 4px 0; }
	& > *:not(span):last-of-type { margin: 4px 0 0; }
}