.page
{
	width: 100svw;
	height: fit-content;
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	transition: none;
	z-index: 1;
	background: var(--dark);
	overscroll-behavior-y: none;
}

.mainContentContainer
{
	width: 100%;
	height: fit-content;
	padding: calc(24px + env(safe-area-inset-top) + 50px + 32px) 16px 24px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-shrink: 0;
	flex-grow: 1;

	& > *:nth-child(even):not(:last-child) { margin-bottom: 16px; }

	& .addLocationButton
	{
		width: 100%;
		margin-top: auto;
	}
}