::view-transition-old(homeTransitionLeft), ::view-transition-new(homeTransitionLeft),
::view-transition-old(homeTransitionRight), ::view-transition-new(homeTransitionRight)
{
	animation-duration: 0.3s;
	animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

::view-transition-group(homeTransitionLeft), ::view-transition-group(homeTransitionRight) { z-index: 0; }
::view-transition-old(homeTransitionLeft) { animation-name: outLeft; }
::view-transition-new(homeTransitionLeft) { animation-name: inLeft; }
::view-transition-old(homeTransitionRight) { animation-name: outRight; }
::view-transition-new(homeTransitionRight) { animation-name: inRight; }

@keyframes outLeft
{
	to
	{
		pointer-events: none;
		visibility: hidden;
		transform: translateX(25%);
	}
}

@keyframes inLeft
{
	from
	{
		pointer-events: none;
		visibility: hidden;
		transform: translateX(25%);
	}
}

@keyframes outRight
{
	to
	{
		pointer-events: none;
		visibility: hidden;
		transform: translateX(-25%);
	}
}

@keyframes inRight
{
	from
	{
		pointer-events: none;
		visibility: hidden;
		transform: translateX(-25%);
	}
}

.page
{
	width: 100svw;
	height: fit-content;
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	transition: none;
	z-index: 0;
	overscroll-behavior-y: none;

	&.viewTransitionLeft { view-transition-name: homeTransitionLeft; }
	&.viewTransitionRight { view-transition-name: homeTransitionRight; }
}

.currentLocationClickableContainer
{
	width: fit-content;
	max-width: calc(100vw - 50px * 2 - 24px * 4);
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	background: hsl(from white h s l / 0.03);
	color: var(--white-90);
	border: 1px solid var(--white-15);
	border-radius: 20px;
	padding: 0 24px;
	pointer-events: all;
	flex-shrink: 1;
	overflow: hidden;

	&:active
	{
		background: var(--white-10);
		color: var(--white-50);
		border: 1px solid var(--white-0);
	}

	& .currentLocationText
	{
		font-size: var(--larger-font-size);
		font-weight: 600;
		color: inherit;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.heroContainer
{
	width: 100%;
	height: 100vh;
	padding-bottom: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	gap: 24px;
}

.weatherFetchingNotifContainer
{
	position: absolute;
	top: calc(24px + 50px + 16px + env(safe-area-inset-top));
	right: 24px;
	left: 24px;
	height: 50px;
	padding: 16px 24px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	background: hsl(30, 75%, 50%, 0.65);
	backdrop-filter: var(--blur-bg);
	border-radius: 20px;
	z-index: 1;
	overflow: hidden;
	transition: all 0.2s, transform 0s, opacity 0s;

	&.weatherFetchingNotifContainerError { background: hsl(0, 75%, 50%, 0.65); }

	& .weatherFetchingNotifText
	{
		width: fit-content;
		max-width: 100%;
		overflow: hidden;
		white-space: normal;
		font-size: var(--main-font-size);
		font-weight: 500;
		color: var(--white-80);
		text-align: center;
	}
}

.mainInfoContainer
{
	width: 100vw;
	height: auto;
	padding-bottom: 100px;
	flex-shrink: 1;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	border-radius: 0 0 56px 56px;

	&::before
	{
		content: "";
		position: absolute;
		inset: 0;
		opacity: 0.5;
		background: inherit;
		border-radius: inherit;
		filter: blur(128px);
	}

	& .currentWeatherContainer
	{
		width: fit-content;
		height: fit-content;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
		gap: 32px;

		& .currentPrecipContainer
		{
			width: fit-content;
			height: fit-content;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			flex-wrap: nowrap;

			& .currentPrecipIcon
			{
				width: 40px;
				height: 40px;
			}

			& .currentPrecipText
			{
				font-size: var(--larger-font-size);
				font-weight: 600;
				color: var(--white-65);
				text-align: center;
			}
		}

		& .currentTempText
		{
			width: fit-content;
			height: fit-content;
			font-weight: 600;
			text-align: center;
			font-size: 128px;
			color: transparent;
			background: linear-gradient(to bottom right, var(--white-90), var(--white-65));
			background-clip: text;
			-webkit-background-clip: text;
		}

		& .currentDayNightTempContainer
		{
			width: fit-content;
			height: fit-content;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			flex-wrap: nowrap;
			gap: 2px;

			& .currentDayNightTempText
			{
				font-size: var(--larger-font-size);
				font-weight: 600;
				text-align: center;

				&:nth-child(odd) { color: var(--white-65); }
				&:nth-child(2) { color: var(--white-25); }
			}
		}
	}

	& .hourlyForecastContainer
	{
		position: absolute;
		right: 24px;
		bottom: 24px;
		left: 24px;
		height: fit-content;
		min-height: 120px;
		border-radius: var(--main-border-radius);
		overflow: clip;

		& .hourlyForecastItems
		{
			width: 100%;
			height: fit-content;
			padding: 8px;
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: nowrap;
			gap: 2px;
			overflow: auto clip;
			pointer-events: all;
			mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1) 8px, rgba(0, 0, 0, 1) calc(100% - 8px), transparent);

			&::-webkit-scrollbar { display: none; }
		}

		&::before
		{
			content: "";
			position: absolute;
			inset: 0;
			background: var(--black-50);
			border-radius: var(--main-border-radius);
			backdrop-filter: var(--blur-bg);
			mix-blend-mode: darken;
		}
	}
}

.dailyForecastContainer
{
	width: calc(100% - 48px);
	min-height: 240px;
	padding: 4px 16px;
	background: var(--white-5);
	border-radius: var(--main-border-radius);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.mainContentContainer
{
	width: 100%;
	height: fit-content;
	padding-bottom: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	gap: 24px;

	& .currentWeatherDetailsContainer
	{
		width: calc(100% - 48px);
		min-height: calc(var(--main-border-radius) * 2);
		padding: 4px 16px;
		background: var(--white-5);
		border-radius: var(--main-border-radius);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
	}

	& .sunriseSunsetContainer
	{
		padding: 16px;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;

		& > :nth-child(2) { flex-shrink: 0; }

		& .sunriseSunsetItem
		{
			width: fit-content;
			height: fit-content;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-wrap: nowrap;
			gap: 4px;
			flex-basis: 100px;
			flex-shrink: 1;
			flex-grow: 0;

			& .sunriseSunsetItemContentText
			{
				font-size: var(--main-font-size);
				color: var(--white-90);
				font-weight: 600;
			}

			& .sunriseSunsetItemTitleText
			{
				font-size: 14px;
				color: var(--white-50);
				font-weight: 500;
			}
		}
	}
}

.dataProvidedByText
{
	font-size: 14px;
	font-weight: 500;
	color: var(--white-25);
	text-align: center;
}