.page
{
	width: 100svw;
	height: fit-content;
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	transition: none;
	z-index: 1;
	background: var(--dark);
	overscroll-behavior-y: none;
}

.mainContentContainer
{
	width: 100%;
	height: fit-content;
	padding: calc(24px + env(safe-area-inset-top) + 50px + 32px) 16px 24px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 16px;

	& .settingsGroupContainer
	{
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	& .settingsGroupSeparator
	{
		width: 100%;
		height: 1.5px;
		background: var(--white-10);
	}
}

.dataProvidedByText
{
	font-size: 14px;
	font-weight: 500;
	color: var(--white-25);
	text-align: center;
}