.dragZone
{
	position: absolute;
	inset: 0 auto 0 0;
	width: 56px;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	pointer-events: all;
}

.ghostLocationItem
{
	width: 100%;
	height: 64px;
	background: var(--white-10);
	border-radius: 20px;
	transition: all 0.2s;
}